.row {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.btn {
  height: 5rem !important;
  color: white !important;
}

.title {
  text-align: center;
}

.entreprise {
  width: 50%;
  margin-right: auto !important;
  margin-left: 0 !important;
  display:block !important;
  background-color: #67a191 !important;
}

.association {
  width: 100%;
  margin-right: 0 !important;
  margin-left:auto !important;
  display:block !important;
  margin-top: 0.4rem;
}

.benevole {
  width: 50%;
  margin-right: auto !important;
  margin-left: 0 !important;
  display:block !important;
}

.titleLogo {

}
