.row {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.btn {
  height: 5rem !important;
  color: white !important;
}

.title {
  text-align: center;
}

.entreprise {
  width: 40%;
  margin-right: auto !important;
  margin-left: 0 !important;
  display:block !important;
  background-color: rgba(162, 197, 106, 0.86) !important;
}

.association {
  width: 80%;
  margin-right: 0 !important;
  margin-left:auto !important;
  display:block !important;
  margin-top: 0.4rem;
  background-color: rgba(106, 153, 197, 0.86) !important;
}

.benevole {
  width: 40%;
  margin-right: auto !important;
  margin-left: 0 !important;
  display:block !important;
  background-color: rgba(168, 138, 199, 0.86) !important;
}

.titleLogo {
  width: 100% !important;
  height: 100% !important;
  display: inline-block;
  vertical-align: middle;
}