.history {
    margin: 0%;
    margin-top: 2%;
    align-items: center;
}

.history-title {
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.panel-div {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
}