.profile-pic-btn {
  padding: 0.5rem 1rem;
  align-items: center;
  margin: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #67a191;
}

.profile-pic-btn:hover {
  background-color: #5b8971;
}

// Color Blind Mode

.color-blind-bg {
  background-color: #3b3d3c;
}