.reset_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15%;
}

.second {
    margin-bottom: 2.5px;
}

.button {
    margin-top: 0px;
}

.alert {
    flex-direction: column;
}