.mission-details-header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0;
    min-height: 200px;
    justify-content: flex-end;
    margin: 0 20%
}

.mission-image {
    width: 30%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.5;
}

.mission-details-content {
    flex: 1;
    align-items: stretch;
    display: flex;
    margin: 20px 20%;
    justify-content: space-between  ;
}

.mission-details-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    margin: 10px 0;
}

.mission-details-header-content-up {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 40px;
}

.mission-details-header-row {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
}

.mission-details-header-row > p {
    margin-block-start: auto;
    margin-block-end: auto;
    margin-left: 10px
}

.mission-details-content-box {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
}

.mission-details-content-title {
    font-size: 1.5em;
    font-weight: bold;
}

.box-left {
    margin-left: 60px;
}

.mission-details-content-skills-box {
    margin: 0 20%;
}

.mission-details-content-center {
    margin-top: 2rem;
    display: flex;
    flex-direction: line;
    justify-content: center;
    align-items: center;
}