$color-primary: #f00 !default;
$color-secondary: #0f0 !default;
$color-tertiary: #00f !default;

$color-background: #f5f5f5 !default;
$color-connexion : #cdcdcd !default;
$color-border: rgb(139, 25, 25) !default;
$color-btn-onclick: #598b7d !default;

$color-title: #67a191 !default;
$color-text: #2d2a32 !default;
$color-text-error: #d4180e !default;


$color-text-shadow: #aaa !default;

$color-box: #FFFEFF !default;

/////////////////////////////
///  HiVolunteer colors   ///
/////////////////////////////

$color-hivolunteer: #67a191 !default;
$color-hivolunteer-secondary: #5d9082 !default;
$color-hivolunteer-marked: #ffcf56 !default;
$color-hivolunteer-text1: #2d2a32 !default;
$color-hivolunteer-text2: #1F0812 !default;

/////////////////////////////
///   Background colors   ///
/////////////////////////////

$background: #f5f5f5 !default;
$background-dark: #cdcdcd !default;

/////////////////////////////
///       Box scss        ///
/////////////////////////////

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !default;
$box-background: #fffeff !default;
