$color-primary: #f00 !default;
$color-secondary: #0f0 !default;
$color-tertiary: #00f !default;

$color-background: #f5f5f5 !default;
$color-connexion : #cdcdcd !default;
$color-border: rgb(139, 25, 25) !default;
$color-btn-onclick: #598b7d !default;

$color-title: #67a191 !default;
$color-text: #2d2a32 !default;
$color-text-error: #d4180e !default;


$color-text-shadow: #aaa !default;

$color-box: #FFFEFF !default;
