
.manage-mission-button-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.manage-mission-button {
    width: 100%;
}

.manage-mission-button-separator {
    margin-top: 1rem;
    margin-bottom: 1rem;
}