.volunteer-manage-mission-volunteers-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}

.volunteer-manage-mission-volunteer-card {
    border: 1px solid #882b2b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 20%;
    width: 45%;
}

.volunteer-manage-mission-volunteer-card-picture-container {
    width: 100px;
    height: 100px;
    // transform to circle
    border-radius: 20%;
}

.volunteer-manage-mission-volunteer-card-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.volunteer-manage-mission-volunteer-card-information {
    margin-left: 1rem;
}