@import 'assets/scss/_colors.scss';
@import 'assets/scss/_fonts.scss';

body {
    background-color: $color-background;
}

.home-container {
    background-color: $color-background;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    margin: 0 2.5%;
    flex: 1;
}

.header-left {
    flex-direction: row;
    display: flex;
    flex: 2;
}

.mission-body-with-icon {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: -10px 0;
}

.body-container {
    width: 60%;
    margin: 0 20%;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.mission-container {
    flex: 1;
}