.component-search-section-container {
    width: 100%;
    min-height: 300px;
    background-color: #67A191;
}

.component-search-section-hello {
    margin-left: 4rem;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

.component-search-section-title {
    font-size: 1.5rem;
    margin-top: 4rem;
    font-weight: 400;
    color: white;
    margin-bottom: 0;
}

.component-search-section-subtitle {
    @extend .component-search-section-title;
    margin-top: 0.5rem;
}

.component-search-section-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4rem;
    // margin-left: 4rem;
}

.component-search-section-search-bar {
    width: 75%;
    border: 1px solid white;
    background-color: #fefefe;
    border-radius: 30px; /* Ajustez le rayon pour correspondre à la hauteur de votre barre de recherche */
    padding-right: 10px; /* Ajoutez un padding à droite pour l'espace autour de la loupe */
    // flex-grow: 1;
    padding: 0.3rem;
    padding-left: 1.5rem;
}

.component-search-section-search-button {
    color: #fefefe !important;
    background-color: #598b7d !important;
}

.component-search-section-search-button:hover {
    background-color: #ffcf56 !important;
}

.component-search-section-search-icon {
    margin: 0.2rem;
}