@import 'assets/scss/_colors.scss';


.main {
    background-color: $background-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: $background;
    display: inline-block;
    height: auto;
    border-radius: 20px;

    .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
    }
}

.btn-register {
    background-color: $color-hivolunteer;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;

    &:hover {
        background-color: darken($color-hivolunteer, 30%);
    }
    &:active {
        background-color: darken($color-hivolunteer, 10%);
    }
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    input {
        margin: 10px;
        max-width: 100%;
        width: 100%;
    }
}

.input-register {
    font-family: 'Monserrat', sans-serif;
    //width: 100%;
    height: 30px;
    padding: 5px 5px;
    border-radius: 10px;
    border-color: transparent;
    margin: 3px;
}

.input-register:focus {
    outline: none;
    border-color: $color-hivolunteer;
}