@import 'assets/scss/_colors.scss';

body {
    color: $color-hivolunteer-text2;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    .label {
        font-size: 1em;
    }
    .html {
        padding: 0;
        margin: 0;
        background: yellow;
    }
    *,:after,:before {
        box-sizing: inherit;
    }


  /*
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

code {
  font-family: 'Montserrat', sans-serif;
}