@import '../../../../assets/scss/_colors';
@import '../../../../assets/scss/_fonts';


.container-div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    margin-left: 8rem;
}

.profile-input {
  display: none;
}


.card-component {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  padding: 20px;
  margin: 20px;
}

.volunteer-card {
  border-radius: 0.75rem;
  border: 1px dashed #E8E7E7;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.asso-desc {
  text-align: left;
  color: #2D2A32;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03125rem; 
  text-align: left;
  padding-left: 2rem;
}

.profile-row {
  text-align: center;
}

.profile-pic {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}

.profile-pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profile-btn-div {
  margin: 0 40%;
  display: flex;
}

.profile-btn-div .edit {
  border-width: 'null';
  color: #2D2A32
}

.filled-text {
  color: #2d2a32;
  font-size: small;
  font-weight: lighter;
}

.title-text {
  color: #2d2a32;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3125rem;
}

.volunteers-title {
  display: flex;
  width: 22.0625rem;
  height: 3.0625rem;
  flex-shrink: 0; 
  text-align: left;
}

.profile-pic-btn {
  padding: 0.5rem 1rem;
  align-items: center;
  margin: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #67a191;
}

.profile-pic-btn:hover {
  background-color: #5b8971;
}

.profile-pic-btn-color-blind {
  padding: 0.5rem 1rem;
  align-items: center;
  margin: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #3b3d3c
  ;
}

.profile-pic-btn-color-blind:hover {
  background-color: #3b3d3c;
}

.profile-info {
  margin-top: 2rem;
}

.profile-row {
  margin-bottom: 1rem;
}

.profile-row label {
  display: block;
  font-size: 1.1rem;
}

.profile-row input {
  width: 30%;
  padding: 0.5rem;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.profile-row button,
.profile-pic-btn {
  display: table-row;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.rating {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 2rem;
  color: #FFC500;
  text-align: right;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 900;
}

.profile-row button[type="submit"]:hover,
.profile-pic-btn:hover {
  background-color: #5b8971;
}

.delete-account-btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  text-decoration: underline;
  text-decoration-color: red;
  color: red;
  font-size: 1.1rem;
  cursor: pointer;
}

.delete-account-btn:hover {
  background-color: rgb(224, 127, 127);
}

.rating-color-blind {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 2rem;
  color: #3b3d3c;
  text-align: right;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 900;
}


// Color Blind Mode

.color-blind-bg {
  background-color: #3b3d3c;
}

.header-rating {
  color: #FFC500;
  text-shadow: 0px 0px 2px #2d2a32
}